*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica neue';
  color: #fff;
  font-size: 2.5rem;
}
html,
body {
      height: 100%;
      width: 100%;        
}

body{
  background-color: #113;
}